---
import Hero from "@/components/home/Hero.astro";
import OurSolutions from "@/components/home/OurSolutions.astro";
import RiskViewer from "@/components/home/RiskViewer.astro";
import Contact from "@/components/shared/Contact";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main class="flex-1 pt-16">
    <Hero />
    <RiskViewer />
    <OurSolutions />
		<Contact />
  </main>
</Layout>
