---
import AboutUs from "@/components/about-us/AboutUs.astro";
import MisionVision from "@/components/about-us/MisionVision.astro";
import OurTeam from "@/components/about-us/OurTeam.astro";
import Contact from "@/components/shared/Contact";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main class="flex-1 pt-16">
    <AboutUs />
    <MisionVision />
    <OurTeam />
    <Contact />
  </main>
</Layout>
